[workspace]
resolver = "2"

members = ["crates/app", "crates/database", "crates/frontend", "crates/server"]

[workspace.dependencies]
anyhow = "1.0.75"
axum = "0.7.5"
axum-extra = "0.9.3"
axum-test = "15.3.0"
cfg-if = "1.0.0"
console_error_panic_hook = "0.1"
console_log = "1.0.0"
deadpool = "0.12.1"
diesel = "2.2"
diesel-async = "0.5.0"
# diesel_async_migrations = "0.12.0"
dotenvy = "0.15.7"
futures = "0.3"
futures-util = { version = "0.3", default-features = false }
gloo-net = "0.6.0"
headers = "0.4.0"
http = "1"
leptos = "0.6"
leptos_axum = "0.6"
leptos_meta = "0.6"
leptos_router = "0.6"
log = "0.4.21"
reqwest = { version = "0.12.4", default-features = false, features = [
    "rustls-tls",
] }
serde = "1.0"
serde_json = "1.0"
strum = "0.26.2"
thiserror = "1"
time = "0.3.25"
tokio = "1.31.0"
tokio-tungstenite = "0.23.1"
tower = "0.4"
tower-http = "0.5.2"
tracing = "0.1"
tracing-error = "0.2.0"
tracing-subscriber = "0.3"
wasm-bindgen = "=0.2.92"
web-sys = "0.3"

[profile.wasm-release]
inherits = "release"
opt-level = 'z'
lto = true
codegen-units = 1
panic = "abort"

[[workspace.metadata.leptos]]
name = "listen"
bin-package = "server"
lib-package = "frontend"

# The site root folder is where cargo-leptos generate all output. WARNING: all content of this folder will be erased on a rebuild. Use it in your server setup.
site-root = "target/site"

# The site-root relative folder where all compiled output (JS, WASM and CSS) is written
# Defaults to pkg
site-pkg-dir = "pkg"

tailwind-input-file = "tailwind.css"
tailwind-config-file = "tailwind.config.js"

assets-dir = "crates/public"
site-addr = "127.0.0.1:3000"
reload-port = 3001

end2end-cmd = "npx playwright test"
end2end-dir = "end2end"

#  The browserlist query used for optimizing the CSS.
browserquery = "defaults"

# Set by cargo-leptos watch when building with that tool. Controls whether autoreload JS will be included in the head
watch = false

# The environment Leptos will run in, usually either "DEV" or "PROD"
env = "DEV"
