name: CI

env:
  CARGO_TERM_COLOR: always

on:
  push:
    branches: ["main"]
  pull_request:
  schedule:
    - cron: "32 4 * * 5"
  workflow_dispatch:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown, x86_64-unknown-linux-gnu
          components: rustfmt
      - run: cargo fmt --check

  test:
    strategy:
      matrix:
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
        rust: [stable, beta]
        # exclude:
        #   - os: macos-latest
        #     rust: beta
        #   - os: windows-latest
        #     rust: beta

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4.1.7
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: wasm32-unknown-unknown, x86_64-unknown-linux-gnu
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo check -p frontend --target wasm32-unknown-unknown
      - run: cargo check -p server --target x86_64-unknown-linux-gnu
